* {
    box-sizing: border-box;
}

body {
    background-color: #e4ecf0;
}

button {
    cursor: pointer;
}

h2 {
    margin: 0;
    padding: 10px;
    font-weight: 600;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.main-content {
    max-width: 1240px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 30px;
    gap: 30px;
}

.container {
    background-color: #FFFFFF;
    align-self: center;
    max-height: 80vh;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 12px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.table-wrap {
    width: 100%;
    overflow-x: auto;
    border-radius: 8px;
}

table {
    border: 1px solid #c9ced5;
    border-radius: 8px;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
    overflow-x: auto;

}

thead {
    background-color: #e4ecf0;
    color: #1E293B;
}

th,
td {
    border-bottom: 2px solid #c9ced5;
    padding: 10px;
    text-align: start;
    font-weight: 500;
}

td {
    color: #1E293B;
}

table tr td:nth-child(1),
table tr td:nth-child(2) {
    color: #1E293B;
    font-weight: bold;
}

.avatar-alt {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    color: #FFFFFF;
    border-radius: 50%;
    padding: 5px;
    width: 60px;
    height: 60px;
}

.rect-color {
    width: 40px;
    height: 20px;
}

.add-button {
    background-color: #7C3AED;
    color: #FFFFFF;
    border: 1px solid #7C3AED;
    border-radius: 6px;
    width: 100px;
    height: 50px;
    margin-left: auto;
    padding: 10px;
    font-size: 16px;
}

.add-button:hover {
    box-shadow: 0 0 13px rgb(199, 186, 192);
}

img {
    max-width: 60px;
    border-radius: 50%;
    height: 60px;
    object-fit: cover;
    object-position: center;
}

.remove-button {
    background-image: url("images/delete-icon.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    padding: 10px 15px;
    border-radius: 8px;
    color: transparent;
}

.remove-button:hover {
    background-color: #e4ecf0;
}

.edit-button {
    background-image: url("images/edit-icon.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    padding: 10px 15px;
    border-radius: 8px;
    color: transparent;
}

.edit-button:hover {
    background-color: #e4ecf0;
}

.modal-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6161628c;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: unset;
    border-radius: 8px;
    padding: 20px;
    width: 30%;
    background-color: #FFFFFF;
    max-height: 80%;
    overflow-y: auto;
    overflow-x: auto;
}

@media screen and (max-width:768px) {
    .modal-content {
        width: 90%;
    }
    .main-content {
        width: 100%;
    }
}

.input-text {
    width: 90%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #c9ced5;
    border-radius: 8px;
}

.color-input {
    border: 1px solid #c9ced5;
    border-radius: 8px;
    margin: 10px;
}

select {
    padding: 10px;
    margin: 10px;
    border: 1px solid #c9ced5;
    border-radius: 8px;
}

.button-container {
    display: flex;
    justify-content: center;
    max-width: 70%;
    align-self: center;
    gap: 20px;
}

.save-button {
    background-color: #7C3AED;
    color: #FFFFFF;
    border: 1px solid #7C3AED;
    border-radius: 6px;
    width: 100px;
    height: 50px;
    padding: 10px;
    font-size: 16px;
}

.close-button {
    background-color: #FFFFFF;
    border: 1px solid #6f7172;
    color: #6f7172;
}